/*base.css*/
@import "font.css";
:root {
    --green : green;
}
body {
    background-color: burlywood;
}
#ts {
    width: 609px;
    height: 609px;
    background-image: url("../img/ts.png");
    display: flex;
    transform: rotateX(130deg);
    color : var(--green);
}
#loading {
    width: 780px;
    height: 422px;
    background-image: url("../img/loading.gif");
}