/*base.css*/
@import "font.css";
body {
    background-color: burlywood;
}
#ts {
    width: 609px;
    height: 609px;
    background-image: url("./ts.png");
}
#loading {
    width: 780px;
    height: 422px;
    background-image: url("./loading.gif");
}